@layer reset {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    margin: unset;
    padding: 2rem;
  }
  button,
  input,
  textarea,
  select {
    font: inherit;
  }
  img,
  picture,
  svg,
  canvas {
    /* display: block; */
    max-inline-size: 100%;
    block-size: auto;
  }
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

:root {
  --primary: #4e0eff;
  --bg-dark: hsl(0 0% 100%);
  --bg: hsl(0 0% 95%);
  --bg-light: hsl(0 0% 90%);
  --text: hsl(0 0% 5%);
  --text-muted: hsl(0 0% 30%);
  --font-primary: "Poppins", sans-serif;
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 700;
  --radius-large: 0.625rem;
  --radius-small: 0.5rem;
  --transition-hover: all 300ms ease-in-out;
}

body {
  font-family: var(--font-primary);
  background-color: var(--bg-dark);
}

.wallet-connect {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

button {
  padding: 0.5rem 3rem;
  border-radius: var(--radius-small);
  border: none;
  outline: none;
  background-color: var(--primary);
  color: white;
  transition: var(--transition-hover);
  &:hover {
    cursor: pointer;
    box-shadow: 3px 3px 6px rgb(0 0 0 /0.5);
  }
  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    &:hover {
      box-shadow: none;
    }
  }
}
.wallet-address {
  padding: 0.5rem 1rem;
  border-radius: var(--radius-small);
  border: none;
  outline: none;
  background-color: var(--primary);
  color: white;
  font-size: 1.3rem;
}

.balance-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  margin-top: 3rem;
  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    img {
      width: 40px;
      height: 40px;
    }
  }
}

.token-transfer {
  .award-form{
    display: grid;
    grid-template-columns: 500px 500px;
    place-content: center;
    gap: 2rem;
    margin-top: 3rem;
    form {
      position: relative;
      display: flex;
      flex-direction: column;
      border: 5px solid var(--primary);
      border-top: 15px solid var(--primary);
      border-radius: 2rem;
      padding: 2rem;
      gap: 1.5rem;
      h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
        img {
          width: 40px;
          height: 40px;
        }
      }
      input {
        border: 2px solid black;
        border-radius: 0.5rem;
        height: 45px;
        padding-left: 1rem;
      }
    }
    &:nth-child(2) {
      form {
        padding: 1rem;
      }
    }
  }
}

.mint-burn-wrapper {
  div:nth-child(2) {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 2rem;
    place-content: center;
    form {
      position: relative;
      display: flex;
      flex-direction: column;
      border: 5px solid var(--primary);
      border-top: 15px solid var(--primary);
      border-radius: 2rem;
      padding: 2rem;
      gap: 1.5rem;
      h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
        img {
          width: 40px;
          height: 40px;
        }
      }
      input {
        border: 2px solid black;
        border-radius: 0.5rem;
        height: 45px;
        width: 100%;
        padding-left: 1rem;
      }
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  th,
  td {
    border-bottom: 2px solid #000;
    padding: 1.5rem 3rem;
    align-items: center;
    text-align: center;
  }
  tbody {
    tr {
      &:nth-child(1) {
        background-color: var(--primary);
        color: #fff;
        font-weight: var(--font-weight-bold);
      }
      &:nth-child(2) {
        background-color: rgb(78 14 255 /0.9);
        color: #fff;
        font-weight: var(--font-weight-bold);
      }
      &:nth-child(3) {
        background-color: rgb(78 14 255 /0.8);
        color: #fff;
        font-weight: var(--font-weight-bold);
      }
    }
  }
}

nav{
  ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
    a{
      font-size: 1.3rem;
      text-decoration: none;
      font-weight: 500;
      color: rgb(179, 190, 200);
      transition: all 300ms ease-in-out;
      position: relative;
      &::after{
        content: '';
        height: 2px;
        width: 0;
        background-color: var(--primary);
        position: absolute;
        left: 0;
        top: 1.7rem;
        transition: all 300ms ease-in-out;
      }
      &:hover{
        color: var(--primary);  
        font-size: 1.4rem;
      }
      &:hover::after{
        width: 100%;
        top: 1.8rem;
      }
    }
    .active{
      color: var(--primary);  
      font-size: 1.4rem;
    }
  }
}